body {
  background-color: #d6d5d3;
}

.notActive {
  color: grey;
}
.notActive:hover {
  color: black;
}

.isActive {
  color: black;
  border-bottom: 2px black;
}

.nav-linkMod a {
  padding: 0 !important;
  font-size: 11px;
  margin-top: -5px;
}

.linkDropo {
  text-decoration: none;
  font-size: 13px;
}
.linkDropo:hover {
  text-decoration: underline;
}
.positionTuButton {
  background-color: white;
  position: absolute;
  top: 60px;
  left: 53%;
}
.positionTuButton a {
  letter-spacing: -0.2px;
  font-size: 13px !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropAziende {
  background-color: white;
  position: absolute;
  top: 60px;
  left: 35%;
}

.dropAziende p:hover {
  cursor: pointer;
  text-decoration: underline;
}
